.course-card {
    border-radius: 10px;
    border: 2px solid rgba(188, 188, 188, 0.25);
    .ant-card-body{
        padding: 0 !important;
    }
    img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
    }
    height: 100%;
}